/*------------------------Mobile device----------------------------*/
@media (max-width: 576px){
     .client-logo img{
		 padding: 15px 10px;
	 }
	 .nav-button{
		 margin-right: 50px;
	 }
	 .header{
		 background-color: rgb(0 0 0 / 80%);
		 z-index: 99;
	 }
	 .banner-content h1{
	    font-size: 37px;
        line-height: 50px;
	 }
	 .banner-content p{
		 font-size: 20px;
	 }
	 .banner-section{
		padding: 160px 0 86px;
	 }
	 .banner-boxes{
		 height: auto;
	 }
	.about-content h2{
	     padding-top: 16px;
     }
	 .ad-img img{
		 margin-bottom: 31px;
	 }
     .achieve-img img{
         margin-bottom: 23px;
	 }
     .achieve-content h2{
         font-size: 33px;
	 }
     .action br{
         display: none;
	 }	
     .action p{
         font-size: 17px;
	 }
     .employ-datas br{
        display: none;
	 }
     .employ-datas p{
        font-size: 16px;
	 }  
     .achieve-content p{
        line-height: 22px;
	 }		
}
/*------------------------Mobile device landscape & smaller device----------------------------*/
@media (min-width: 576px){
.container{
		width: 520px;
	}
.col-sm-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-sm-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-sm-3{
	width: 25%;
	padding: 0 15px;
}
.col-sm-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-sm-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-sm-6{
	width: 50%;
	padding: 0 15px;
}
.col-sm-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-sm-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-sm-9{
	width: 75%;
	padding: 0 15px;
}
.col-sm-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-sm-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-sm-12{
	width: 100%;
	padding: 0 15px;
}
}
/*------------------------Medium device----------------------------*/
@media (min-width: 768px){
.container{
	width: 720px;
}
.col-md-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-md-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-md-3{
	width: 25%;
	padding: 0 15px;
}
.col-md-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-md-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-md-6{
	width: 50%;
	padding: 0 15px;
}
.col-md-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-md-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-md-9{
	width: 75%;
	padding: 0 15px;
}
.col-md-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-md-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-md-12{
	width: 100%;
	padding: 0 15px;
}
.ad-img img{
	margin-bottom: 31px;
	 }
.achieve-img img{
    margin-bottom: 23px;
	 }
.about-content h2{
	padding-top: 10px;
}
.header{
    background-color: rgb(0 0 0 / 46%);
    z-index: 99;
	 }
.policy{
	margin-bottom: 24px;
}
.action br{
         display: none;
	 }	
     .action p{
         font-size: 17px;
	 }
     .employ-datas br{
        display: none;
	 }
     .employ-datas p{
        font-size: 16px;
	 } 
   .achieve-clients p{
        font-size: 12px;
   }
.d-md-block{
     display:block !important;
}
.d-md-none{
    display:none;
}	
}
/*------------------------larger device----------------------------*/
@media (min-width: 992px){
.container{
	width: 920px;
}
.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3{
	width: 25%;
	padding: 0 15px;
}
.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6{
	width: 50%;
	padding: 0 15px;
}
.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9{
	width: 75%;
	padding: 0 15px;
}
.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12{
	width: 100%;
	padding: 0 15px;
}
.header{
    background-color: rgb(0 0 0 / 0%);
}
.nav-list > a{
	font-size: 14px;
}
 .d-lg-block{
	display: block !important;
 }	
 .d-lg-none{
	display: none !important;
}
.nav-button{
	margin-right: 0;
}
/* .achieve-clients p{
	font-size: 0;
} */
.banner-boxes{
	height: 100%;
	margin-bottom: 0;
}
.row-lg{
	flex-direction: row !important;
}
}
/*------------------------desktop device---------------------------*/
@media (min-width: 1200px){
	
.container{
	width: 1170px;
}
	
}


   