*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	}
.container{
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row > *{
	width: 100%;
	padding: 0 15px;
}
.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3{
	width: 25%;
	padding: 0 15px;
}
.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6{
	width: 50%;
	padding: 0 15px;
}
.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9{
	width: 75%;
	padding: 0 15px;
}
.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12{
	width: 100%;
	padding: 0 15px;
}
/*---------------------Header style---------*/
.header{
	background-color: black;
	padding: 24px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0 )	
}
h1.logo > a{
    color: white;
    text-decoration: none;
	display: inline-block;
	font-size: 38px;
	font-weight: 700;
}
h1.logo > a > span{
	color: #ffc451;
}
li.nav-list > a{
	text-decoration: none;
}
.nav-bar .nav-menu .nav-list{	
	display: inline-block;
}
.nav-bar .nav-menu{
	text-align: center;
}
.nav-list > a{
    display: block;
    color: white;
	font-size: 18px;
	padding: 6px 18px;
}
.nav-list > a:hover{
	color: #ffc451;
}
.nav-button > a{
	text-decoration: none;
	font-size: 13px;
	color: #e7dcdc;
	text-align: center;
	border: 2px solid #ffc451;
	border-radius: 5px;
	padding: 10px 28px;
	display: inline-block;
}
.nav-button{
	text-align: right;
}
.nav-button a:hover{
	background-color: #ffc451;
	color: #343a40;		;
}
.dropdown, .dropdown-sub{
	position: relative;
}
.nav-dropdown, .dropdown-sub-nav{
	position: absolute;
    top: 100%;
	left: 0;
	background-color: white;
	min-width: 160px;
	padding: 10px 0;
    opacity: 0; 
	visibility: hidden;
    transform: translateY(30px);
    transition: all 0.3s ease;	
}
.dropdown-sub-nav{
	left: 100%;
    top: 0;
	transform: translate(-20px, 0px);
}
.nav-dropdown >li > a, .dropdown-sub-nav > li > a{
	text-decoration: none;
	display: block;
	color: black;
	font-size: 15px;
	text-align: left;
	line-height: 2;
	padding: 0 12px;
	transition: all 0.3s ease;
}
.dropdown-sub > a > i{
	margin-left: 10px;
}
.nav-dropdown >li > a:hover, .dropdown-sub-nav > li > a:hover{
	background-color: #ffc451;
	color: black;
}
.dropdown:hover .nav-dropdown, .dropdown-sub:hover .dropdown-sub-nav{
	opacity: 1; 
	visibility: visible;
	transform: translateY(0);
}  
.dropdown-sub .nav-dropdown .dropdown:hover{
	opacity: 1;
	visibility: visible;
}

	
/*----------------------header style end-------------------*/
/*---------------------------------banner style-----------*/
.banner-section{
	/* background-color: red; */
	background-image: linear-gradient(rgb(16 13 13 / 27%),rgb(16 13 13 / 27%)), url(../image/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: top;
	background-attachment: fixed;
	padding: 230px 0 230px;
	
}
.banner-items{
	justify-content: center;
	margin-bottom: 100px;
	
}
.banner-content{
    text-align: center;
	margin-bottom: 70px;
}	
 .banner-content h1{
        color: white;
        font-size: 50px;
        line-height: 73px;
        font-weight: 800px;
      	padding-top: 15px 25px;
		
}
 .banner-content h1 span{
	 color: #ffc451;
 }
 .banner-content p{
	 font-size: 25px;
	 color: #ffffffd4;
 }
	
.banner-boxes{
    border: 1px solid grey;
	text-align: center;
	color: white;
	height: 100%;
	padding: 25px 20px;
	
}
.banner-boxes h4:hover{
	color: #ffc451;
}
.banner-boxes:hover {
	border-color: #ffc451;
}
.banner-boxes h4{
	font-size: 18px;
	line-height: 24px;
}
.banner-boxes i{
	color: #ffc451;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}
/*---------------------------------banner style ends-----------*/
/*---------------------------------about style-----------*/
.about-section{
	padding: 60px 0;
}
.about-content h2{
	font-size: 30px;
	margin-bottom: 15px;
	line-height: 33px;
}
.about-content p{
	margin-bottom: 20px;
	font-size: 16px;
}
.about-content ul{
	margin-bottom: 20px;
}
.about-content ul li{
	padding-bottom: 15px;
	position: relative;
	padding-left: 25px;
}
.about-img img{
	width: 100%;
	height: auto;
}
.about-content ul li i{
	color: #ffc451;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
}
/*---------------------------------about style ends-----------*/
/*---------------------------------client style-----------*/
.client-section{
	padding: 60px 0;
}
.client-logo{
	display: block;
}
.client-logo img{
	width: 100%;
	height: auto;
	padding: 11px 42px;
	filter: grayscale(100%);
	opacity: 0.5;
    transition: all 0.3s ease;	
}
.client-logo img:hover{
	filter: grayscale(0);
	opacity: 0.6;
}
.dots{
	text-align: center;
	padding: 20px 30px;
}
.dots .dots-box{
	display:inline-block;
	width: 10px;
	height: 10px;
	background-color: grey;
	border-radius: 50%;
	margin: 5px 5px;
	cursor: pointer;
}
.dots-box.active{
	background-color: #ffc451;
}
.dots .dots-box:hover{
	background-color: #ffc451;
}
/*---------------------------------client style ends-----------*/
/*---------------------------------ad style-----------*/
.ad-content{
	position: relative;
	padding-left: 60px;
	padding-bottom: 30px;
}
.ad-img img{
	width: 100%;
	height: auto;
	margin-bottom: 65px;
}

.ad-content i{
    position: absolute;
    top: 0;
    left: 5px;
    color: #ffc451;
    font-size: 30px;	
}
.ad-content h4{
	font-size: 21px;
	padding-bottom: 19px;
}
.ad-content p{
	color: #808080b0;
	font-size: 16px;
	line-height: 20px;
}

/*---------------------------------ad style ends-----------*/
/*---------------------------------service style-----------*/
.heading{
	padding-left:0px 15px 15px;
	padding-bottom: 35px;
}
.heading h3{
	position: relative;
	text-transform: uppercase;
    color: #80808078;
    font-size: 15px;
	margin-bottom: 15px;	
	
}
.heading h3:after{
	content: "";
	position: absolute;
	top: 10px;
	width: 100px;
	height: 1px;
	margin-left: 11px;
	background-color: #ffc451;
}
.heading h2{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}
	

/*---------------------------------service style ends-----------*/
/*---------------------------------service style logo-----------*/

.service-logo{
    text-align: center;
	font-size: 17px;
	padding: 93px 11px;
	background-color: white;
	border: 1px solid #80808014;
	margin-bottom: 60px;
	border-radius: 1px;
	transition: all 0.5s ease;
	
}
.service-logo:hover{
	transform: translateX(10px) scale(1.05);
	box-shadow: 0 0 15px #80808026;
}
.service-logo i{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ffc451;
	line-height: 60px;
    font-size: 20px;
	
}
.service-logo h4{
	padding: 22px 23px;
}
.service-logo h4 a{
	font-size: 23px;
	color: black;
	text-decoration: none; 
}
.service-logo p{
	color: #00000091;
	font-size: 15px;
}
.service-logo h4 a:hover{
	color: #ffc451;
}
/*---------------------------------service style logo ends-----------*/
/*---------------------------------call section-----------*/
.call{
	padding: 60px 0;
	background-image: url(../image/cta-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;	
	width: 100%;
	height: auto;
	padding: 77px 0 48px;
	margin-bottom: 50px;
	text-align: center;
}
.action h3{
	color: white;
	font-size: 30px;
	padding-bottom: 20px;
}
.action p{
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	line-height: 20px;
}
.call-button > a{
	text-decoration: none;
	color: white;
	font-size: 18px; 
	border: 2px solid #ffffff3d;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 31px;
}
.call-button > a:hover{
	background-color: #ffc451;
	color: #343a40;	
}
/*---------------------------------call section ends-----------*/
/*---------------------------------portfolio title style-----------*/
.portfolio-section{
	padding-bottom: 60px 0;
}
.title{
	padding-bottom: 35px;
}
/* .title h3{
	position: relative;
	text-transform: uppercase;
    color: #80808078;
    font-size: 15px;
	margin-bottom: 15px;	
	
}
.title h3:after{
	content: "";
	position: absolute;
	top: 10px;
	width: 100px;
	height: 1px;
	margin-left: 11px;
	background-color: #ffc451;
}
.title h2{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
} */
.portfolio-types{
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
.portfolio-types .portfolio-types-boxes{
    color: #444444f0;
	text-transform: uppercase;
    font-size: 16px;	
	padding: 8px 15px;
	background-color: transparent;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	transition: all 0.5s ease;
}
.portfolio-types .portfolio-types-boxes:hover{
    background-color: #ffc451;
}
.portfolio-types .portfolio-types-boxes.active{
    background-color: #ffc451;
}	
.portfolio{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.portfolio img{
	display: block;
	width:100%;
	height: auto;
	transition: all 0.5s ease;
}
.portfolio .port-overlay{
     position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
    background-color: rgb(0 0 0 / 55%);
	display: flex;
	align-items: flex-end;
	padding: 10px 10px 20px;
    opacity: 0;
	visibility: hidden;
    transition: all 0.5s ease;	
}
 .port-overlay-text h4{
	font-size: 17px;
	font-weight: 400;
	color: white;
	padding-bottom: 10px;
}
.port-overlay-text h5{
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #ffffffb5;
	padding-bottom: 10px;
} 
.port-overlay-text .port-icons a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-right: 10px;
	
}
.port-overlay-text .port-icons a:hover{
	color: #ffc451;
}
.portfolio:hover .port-overlay{
	opacity: 1;
	visibility: visible;
}
.portfolio:hover img{
	transform: scale(1.2);
	overflow: hidden
}
/*---------------------------------portfolio boxes style ends-----------*/
/*---------------------------------acievements style-----------*/
.achievements-section{
	padding: 60px 0;
	margin-bottom: 25px;
}
.achieve-img img{
	width: 100%;
	height: auto;
}
.achieve-content h2{
	font-size: 30px;
	padding-bottom: 10px;
}
.achieve-content p{
    font-size: 15px;
	line-height: 20px;
	color: #000000b0;
}
.achieve-clients{
	position: relative;
	padding-left: 60px;
	padding-bottom: 30px;
}
.achieve-clients i{
	position: absolute;
	top: 5px;
	left: 0;
	padding: 17px 14px;
	font-size: 34px;
	color: #ffc451;
}
.achieve-clients h3{
    font-size: 33px;
    padding: 15px 10px;
    font-weight: 600;
}	
.achieve-clients p{
    font-size: 15px;
    padding: 0 14px;
	color: #000000b0;
}

/*---------------------------------acievements style ends-----------*/
/*---------------------------------employess style-----------*/
.employ-section{
	padding: 60px 0;
	background-image: linear-gradient(rgb(0 0 0 / 45%),rgb(0 0 0 / 58%)), url(../image/testimonials-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	height: auto;
	text-align: center;
	margin-bottom: 37px;
}
.employ-datas img{
	border-radius: 50%;
	width: 106px;
	border: 8px solid #8f878796;
	margin-bottom: 17px;
}
.employ-datas h4{
	color: white;
	font-size: 20px;
	padding-bottom: 14px;
}	
.employ-datas h6{
    color: #ffffffc4;
    font-size: 15px;
    padding-bottom: 30px;
	font-weight: 300;
}

 .employ-datas p{
	color: #ffffffc7;
	font-size: 17px;
	font-style: italic;
    line-height: 34px;	
}	
/*---------------------------------employess style ends-----------*/
/*---------------------------------teams title style-----------*/
.teams-section{
	padding: 60px 0;
}
.teams-image{
	position: relative;
}
.teams-image img{
	display: block;
	width: 100%;
	border-radius: 4px;
}
.teams-pos{
	padding: 23px 19px;
}
.teams-pos h3{
	font-size: 18px;
	color: #0c0808bf;
	padding-bottom: 11px;
	font-weight: 600;
}
.teams-pos h5{
	font-size: 14px;
	color: #89818185;
	font-weight: 200;
}
.teams-box-section{
 /* border: 1px solid grey; */
	border-radius: 4px;
	box-shadow: 0 0 6px #80808030;
}
.teams-box-section{
	position: relative;
}
 .teams-icons{
	position: absolute;
	left: 0;
	bottom: 0;
	width:100%;
	padding: 20px;
	text-align: center;
	transform: translateY(-20px);
	transition: all 0.5s ease;
    opacity: 0; 
 }
.teams-icons a{
	display: inline-block;
	width: 35px;
	height: 25px;
	text-align: center;
	background-color: #ffffffad;
	line-height: 25px;
	color: #00000087;
	font-size: 25px;
	margin: 0 4px;
	transition: all 0.5s ease;
}
.teams-box-section{
	transform: translateY(-20px);
}
.teams-box-section:hover .teams-icons{
	opacity: 1;
	transform: translateY(0);
}
.teams-icons a:hover{
	background-color: #ffc451;
}

/*---------------------------------teams box style ends-----------*/
/*---------------------------------contact title style-----------*/
.contact-section{
	background-color: red;
	padding: 80px 0;
}
.contact-title{
	background-color: black;
	height: 80px;
}
/*---------------------------------contact title style ends-----------*/
/*---------------------------------contact detail style-----------*/
.contact-detail-section{
	background-color: red;
	padding: 80px 0;
}
.contact-datas{
	background-color: black;
	height: 400px;
}
/*---------------------------------contact detail style ends-----------*/
/*---------------------------------workers info style-----------*/
.workers-info-section{
	padding: 80px 0;
}
.workers-loc{
	display: flex;
	padding: 28px 30px;
}
.loc{
	padding-left: 15px;
}
.loc-icon i{
	display: block;
	font-size: 31px;
	background-color: #ffc451;
	padding: 10px 17px;
	border-radius: 5px;
}
.loc h3{
	font-size: 23px;
	padding-left: 20px;
	font-weight: 300;
	color: #000000d1;
	padding-bottom: 13px;
}
.loc p{
	font-size: 14px;
	padding-left: 20px;
}
.workers-inputdatas{
	margin: 0 auto;
	margin-left: 135px;
	font-size: 20px;
	font-family:Times New Roman;
}
.name input{
	padding: 12px;
    width: 49%;
	border: 1px solid #8080804d;
	border-radius: 5px;
}
.sub input{
	margin-top: 26px;
    padding: 12px;
    width: 99%;
	border: 1px solid #8080804d;
	border-radius: 5px;
	}
.msg textarea{
	padding: 14px 12px;
    margin-right: 33px;
	margin-top: 27px;
	width: 99%;
	border-color: #8080804d;
}
.button{
	text-decoration: none;
	font-size: 13px;
	color: black;
	text-align: center;
	/* border: 1px solid #ffc451; */
	border-radius: 5px;
	border: none;
	padding: 12px 21px;
	display: inline-block;
	margin: 20px 183px;
	background-color: #ffc451;
}
/*---------------------------------workers style ends-----------*/
/*---------------------------------footer info style-----------*/
.footer-section{
	padding: 60px 0;
	background-color: #000000eb;
	
}
.user h1{
	padding-bottom: 13px;
	color: white;
}
.user h1 > span{
	color: #ffc451;
}

.adam p{
	font-size: 15px;
	color: #ffffff;
	padding-bottom: 10px;
}
.num p{
	margin-top: 10px;
	font-size: 15px;
	color: #ffffff;
}
.footer-icons a > i{
	font-size: 22px;
}
.footer-icons a:hover{
	color: black;
	background-color: #ffc451;
}
.footer-icons a{
	display: inline-block;
	background-color: #808080a6;
	border-radius: 5px;
	font-size: 18px;
	padding: 4px 4px;
	margin: 25px 5px;
	color: #fffffff2;
}
.link h3{
	color: white;
	padding-bottom: 13px;
	font-weight: 100;
}
.policy li > i{
	color: #ffc451;
	list-style: none;
	display: inline-block;
}
.policy li > a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}
.policy li{
	padding-bottom: 20px;
	padding-left: 10px;
}
.policy li > a:hover{
	color: #ffc451;
}
.letter h3{
	color: white;
	padding-bottom: 13px;
	font-weight: 100;
}
.letter p{
	color: #ffffff;
	font-size: 13px;
	margin-bottom: 10px;
}
.newsfeed input{
	width: 50%;
}
/*---------------------------------footer info style ends-----------*/
.cpy-info{
	padding: 60px 0;
	background-color: black;
}
.copyright{
	text-align: center;
	color: white;
}
.copyright h4{
	line-height: 39px;
	font-weight: 200;
}
.copyright h5{
	font-weight: 100;
}
.copyright h5 a{
	text-decoration: none;
	color: white;
}
.copyright h5 > a:hover{
	color: #ffc451;
}
.newsfeed input{
	width: 100px;
}
 .newsfeed{
	position: relative;
}
.newsfeed input:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
}
 





































