*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	}
.container{
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row > *{
	width: 100%;
	padding: 0 15px;
}
.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3{
	width: 25%;
	padding: 0 15px;
}
.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6{
	width: 50%;
	padding: 0 15px;
}
.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9{
	width: 75%;
	padding: 0 15px;
}
.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12{
	width: 100%;
	padding: 0 15px;
}
/*---------------------Header style---------*/
.header{
	background-color: black;
	padding: 24px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0 )	
}
h1.logo > a{
    color: white;
    text-decoration: none;
	display: inline-block;
	font-size: 38px;
	font-weight: 700;
}
h1.logo > a > span{
	color: #ffc451;
}
li.nav-list > a{
	text-decoration: none;
}
.nav-bar .nav-menu .nav-list{	
	display: inline-block;
}
.nav-bar .nav-menu{
	text-align: center;
}
.nav-list > a{
    display: block;
    color: white;
	font-size: 18px;
	padding: 6px 18px;
}
.nav-list > a:hover{
	color: #ffc451;
}
.nav-button > a{
	text-decoration: none;
	font-size: 13px;
	color: #e7dcdc;
	text-align: center;
	border: 2px solid #ffc451;
	border-radius: 5px;
	padding: 10px 28px;
	display: inline-block;
}
.nav-button{
	text-align: right;
}
.nav-button a:hover{
	background-color: #ffc451;
	color: #343a40;		;
}
.dropdown, .dropdown-sub{
	position: relative;
}
.nav-dropdown, .dropdown-sub-nav{
	position: absolute;
    top: 100%;
	left: 0;
	background-color: white;
	min-width: 160px;
	padding: 10px 0;
    opacity: 0; 
	visibility: hidden;
    transform: translateY(30px);
    transition: all 0.3s ease;	
}
.dropdown-sub-nav{
	left: 100%;
    top: 0;
	transform: translate(-20px, 0px);
}
.nav-dropdown >li > a, .dropdown-sub-nav > li > a{
	text-decoration: none;
	display: block;
	color: black;
	font-size: 15px;
	text-align: left;
	line-height: 2;
	padding: 0 12px;
	transition: all 0.3s ease;
}
.dropdown-sub > a > i{
	margin-left: 10px;
}
.nav-dropdown >li > a:hover, .dropdown-sub-nav > li > a:hover{
	background-color: #ffc451;
	color: black;
}
.dropdown:hover .nav-dropdown, .dropdown-sub:hover .dropdown-sub-nav{
	opacity: 1; 
	visibility: visible;
	transform: translateY(0);
}  
.dropdown-sub .nav-dropdown .dropdown:hover{
	opacity: 1;
	visibility: visible;
}

	
/*----------------------header style end-------------------*/
/*---------------------------------banner style-----------*/
.banner-section{
	background-color: red;
	background-image: linear-gradient(rgb(16 13 13 / 27%),rgb(16 13 13 / 27%)), url(../image/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: top;
	background-attachment: fixed;
	padding: 230px 0 230px;
	
}
.banner-items{
	justify-content: center;
	margin-bottom: 100px;
	
}
.banner-content{
    text-align: center;
	margin-bottom: 70px;
}	
 .banner-content h1{
        color: white;
        font-size: 50px;
        line-height: 73px;
        font-weight: 800px;
      	padding-top: 15px 25px;
		
}
 .banner-content h1 span{
	 color: #ffc451;
 }
 .banner-content p{
	 font-size: 25px;
	 color: #ffffffd4;
 }
	
.banner-boxes{
    border: 1px solid grey;
	text-align: center;
	color: white;
	height: 100%;
	padding: 25px 20px;
	
}
.banner-boxes h4:hover{
	color: #ffc451;
}
.banner-boxes:hover {
	border-color: #ffc451;
}
.banner-boxes h4{
	font-size: 18px;
	line-height: 24px;
}
.banner-boxes i{
	color: #ffc451;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}
/*---------------------------------banner style ends-----------*/
/*---------------------------------about style-----------*/
.about-section{
	padding: 80px 0;
}
.about-content h2{
	font-size: 30px;
	margin-bottom: 15px;
	line-height: 33px;
}
.about-content p{
	margin-bottom: 20px;
}
.about-content ul{
	margin-bottom: 20px;
}
.about-content ul li{
	padding-bottom: 15px;
	position: relative;
	padding-left: 25px;
}
.about-img img{
	width: 100%;
	height: auto;
}
.about-content ul li i{
	color: #ffc451;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
}
/*---------------------------------about style ends-----------*/
/*---------------------------------client style-----------*/
.client-section{
	padding: 60px 0;
}
.client-logo{
	display: block;
}
.client-logo img{
	width: 100%;
	height: auto;
	padding: 11px 42px;
	filter: grayscale(100%);
	opacity: 0.5;
    transition: all 0.3s ease;	
}
.client-logo img:hover{
	filter: grayscale(0);
	opacity: 0.6;
}
.dots{
	text-align: center;
	padding: 20px 30px;
}
.dots .dots-box{
	display:inline-block;
	width: 10px;
	height: 10px;
	background-color: grey;
	border-radius: 50%;
	margin: 5px 5px;
	cursor: pointer;
}
.dots-box.active{
	background-color: #ffc451;
}
.dots .dots-box:hover{
	background-color: #ffc451;
}
/*---------------------------------client style ends-----------*/
/*---------------------------------ad style-----------*/
.ad-content{
	position: relative;
	padding-left: 60px;
	padding-bottom: 30px;
}
.ad-img img{
	width: 100%;
	height: auto;
	margin-bottom: 65px;
}

.ad-content i{
    position: absolute;
    top: 0;
    left: 5px;
    color: #ffc451;
    font-size: 30px;	
}
.ad-content h4{
	font-size: 21px;
	padding-bottom: 19px;
}
.ad-content p{
	color: #808080b0;
	font-size: 16px;
	line-height: 20px;
}

/*---------------------------------ad style ends-----------*/
/*---------------------------------service style-----------*/
.heading{
	padding-left:0px 15px 15px;
	padding-bottom: 35px;
}
.heading h3{
	position: relative;
	text-transform: uppercase;
    color: #80808078;
    font-size: 15px;
	margin-bottom: 15px;	
	
}
.heading h3:after{
	content: "";
	position: absolute;
	top: 10px;
	width: 100px;
	height: 1px;
	margin-left: 11px;
	background-color: #ffc451;
}
.heading h2{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}
	

/*---------------------------------service style ends-----------*/
/*---------------------------------service style logo-----------*/

.service-logo{
    text-align: center;
	font-size: 17px;
	padding: 93px 11px;
	background-color: white;
	border: 1px solid #80808014;
	margin-bottom: 50px;
	border-radius: 1px;
	
}
.service-logo:hover{
	transform: translateY(15px) scale(1.05);
	box-shadow: 0 0 10px #80808026;
}
.service-logo i{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ffc451;
	line-height: 60px;
    font-size: 20px;
	
}
.service-logo h4{
	padding: 22px 23px;
}
.service-logo h4 a{
	font-size: 23px;
	color: black;
	text-decoration: none; 
}
.service-logo p{
	color: #00000091;
	font-size: 15px;
}
.service-logo h4 a:hover{
	color: #ffc451;
}
/*---------------------------------service style logo ends-----------*/
/*---------------------------------call section-----------*/
.call{
	padding: 60px 0;
}
.action{
	background-image: url(../image/cta-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;	
	width: 100%;
	height: auto;
	padding: 77px 0 48px;
	margin-bottom: 50px;
	text-align: center;
}
.action h3{
	color: white;
	font-size: 30px;
	padding-bottom: 20px;
}
.action p{
	color: white;
	font-size: 15px;
	padding-bottom: 20px;
	line-height: 20px;
}
.call-button > a{
	text-decoration: none;
	color: white;
	font-size: 18px; 
	border: 2px solid #ffffff3d;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 31px;
}
.call-button > a:hover{
	background-color: #ffc451;
	color: #343a40;	
}
/*---------------------------------call section ends-----------*/
/*---------------------------------portfolio title style-----------*/
.title{
	padding-left:0px 15px 15px;
	padding-bottom: 35px;
}
.title h3{
	position: relative;
	text-transform: uppercase;
    color: #80808078;
    font-size: 15px;
	margin-bottom: 15px;	
	
}
.title h3:after{
	content: "";
	position: absolute;
	top: 10px;
	width: 100px;
	height: 1px;
	margin-left: 11px;
	background-color: #ffc451;
}
.title h2{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}
.portfolio-types{
	text-align: center;
	padding: 20px 30px;
	
}
.portfolio-types-boxes{
	margin-left: 15px;
	margin-bottom: 10px;
}
.portfolio-types .portfolio-types-boxes{
	display:inline-block;
	padding: 7px 17px;
	border-radius: 2px;
	color: #000000eb;
 }
.portfolio-types-boxes.active{
	background-color: #ffc451;
}
.portfolio-types .portfolio-types-boxes:hover{
	background-color: #ffc451;
} 
/*---------------------------------portfolio title style ends-----------*/
/*---------------------------------portfolio boxes style-----------*/
.portfolio-section{
	padding: 80px 0;
}
.portfolio img{
    width: 100%;
	height: auto;
	padding: 10px 20px;
}	
/*---------------------------------portfolio boxes style ends-----------*/
/*---------------------------------acievements style-----------*/
.achievements-section{
	margin-bottom: 25px;
}
.achieve-img img{
	width: 100%;
	height: auto;
}
.achieve-content h2{
	font-size: 30px;
	padding-bottom: 10px;
}
.achieve-content p{
    font-size: 15px;
	line-height: 20px;
}
.achieve-clients{
    display: inline-block;
}	
/*---------------------------------acievements style ends-----------*/
/*---------------------------------employess style-----------*/
.employ-section{
	padding: 80px 0;
}
.employ-datas{
	background-image: linear-gradient(rgba(0,0,0,0.67),rgba(0,0,0,0.78)), url(../image/testimonials-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	height: auto;
	text-align: center;
	padding: 78px 49px;
}
.employ-datas img{
	border-radius: 50%;
	width: 106px;
	border: 8px solid #8f878796;
	margin-bottom: 17px;
}
.employ-datas h4{
	color: white;
	font-size: 20px;
	padding-bottom: 14px;
}	
.employ-datas h6{
    color: #ffffffa6;
    font-size: 15px;
    padding-bottom: 41px;
}
}
.employ-section .employ-datas p{
	color: white;
	font-size: 18px;
}	
/*---------------------------------employess style ends-----------*/
/*---------------------------------teams title style-----------*/
.teams-section{
	background-color: red;
	padding: 80px 0;
}
.teams-title{
	background-color: black;
	height: 80px;
}
/*---------------------------------teams title style ends-----------*/
/*---------------------------------teams box style-----------*/
.teams-box-section{
	background-color: red;
	padding: 80px 0;
}
.teams-names{
	background-color: black;
	height: 180px;
}
/*---------------------------------teams box style ends-----------*/
/*---------------------------------contact title style-----------*/
.contact-section{
	background-color: red;
	padding: 80px 0;
}
.contact-title{
	background-color: black;
	height: 80px;
}
/*---------------------------------contact title style ends-----------*/
/*---------------------------------contact detail style-----------*/
.contact-detail-section{
	background-color: red;
	padding: 80px 0;
}
.contact-datas{
	background-color: black;
	height: 400px;
}
/*---------------------------------contact detail style ends-----------*/
/*---------------------------------workers info style-----------*/
.workers-info-section{
	background-color: red;
	padding: 80px 0;
}
.workers-loc{
	background-color: black;
	height: 400px;
}
.workers-inputdatas{
	background-color:black;
	height: 400px;
}
/*---------------------------------workers style ends-----------*/
/*---------------------------------footer info style-----------*/
.footer-section{
	background-color: red;
	padding: 80px 0;
}
.footer-datas{
	background-color: black;
	height: 400px;
}
/*---------------------------------footer info style ends-----------*/









































